@import 'var';
.sq-cell {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: #fff;
  border-radius: 5px;
  color: #333;
  overflow: hidden;
  font-size: 0;
  &__label {
    flex: 0 0 90px;
    -webkit-flex: 0 0 90px;
    -webkit-box-flex: 0 0 90px;
    width:90px;
    padding-left: 10px;
    span {
      font-size: 14px;
    }
    &~.sq-cell__value {
      .sq-cell__control {
        padding-left: 0; 
      }
      .sq-cell__right {
        text-align: right;
        padding-right: 14px;
      }
    }
    &~.sq-cell__value.sq-cell__islink.sq-cell__textright {
      .sq-cell__right {
        padding-right: 28px;
      }
    }
  }
  &__value {
    flex: 1;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    position: relative;
    .sq-cell__control {
      padding-left: 12px; 
    }
    .sq-cell__button {
      position: absolute;
      right: 12px;
      bottom: 8px;
      font-size: 14px;
      height: 34px;
      button {
        height: 100%;
        line-height: initial;
        vertical-align: top;
        padding: 0 14px;
        color: $theme-color;
        border-color: $theme-color;
        background-color: #F6F9FD;
      }
    }
  }
  &__control {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    line-height: normal;
    border:0;
    padding: 14px 0px;
    font-size: 14px;
  }
  &:not(:last-child)::after {
    left: 0;
    right: 0;
    width: auto;
    -webkit-transform: scale(1, .5);
            transform: scale(1, .5);
    border-bottom-width: 1px;
  }
}
// arrow
.sq-cell__islink {
  position: relative;
}
.sq-cell__islink::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  right: 14px;
  top: 20px;
  height: 10px;
  border-right: 2px solid #e6e6e6;
  border-top: 2px solid #e6e6e6;
  box-sizing: border-box;
  transform: rotate(45deg);
}
